.navbar-nav.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
}

.navbar {
    padding: 20px;
    margin-bottom: 5px;
}

.border-right {
    padding: 5px;
}

$grid-columns: 10 !default;

img {
    width: 100%;
    height: auto;
    display: block;
}